<h1><%= @the_user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @the_user.private %></dd>

  <dt>Followers</dt>
  <dd> number of followers <dd>

  <dt></dt>
  <dd>follow button</dd>

  <dt>Following</dt>
  <dd> number of followers <dd>

</dl>

<ul>
  <li>link to profile</li>
  <li>link to liked photos</li>
  <li>link to feed</li>
  <li>link to discovery</li>
<ul>

<h2> Own photos (number of own photos) </h2>
  
<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>

  </tr>

  

</table>
